{% extends "main/base.html" %}
{% block content%}
<div class="container-fluid">
	<h1>About SOCS </h1>
	<p>The Space Operation & Control System (SOCS) is just as it sounds,tools to operate and control Milton Keynes Makerspace. It is currently a work in progress and has very few features. Future features will hopefully allow for membership management, access to various tools such as issue reporting as well as live data streams from the space. It will also provide a connection to external systems such as SpaceAPI.</p>
	<p>SOCS is currently under development, but do feel free to get in contact if you would like to get involved </p>
	<p>The Source code will be open source and available on Github, made up of various parts. This site acts as a front end, while there will be various backend systems such as MQTT etc.</p>
	<p> Current Ideas include;
	<code>
		<ul>
			<li>Membership Management - Donations & Payments</li>
			<li>Issue Reporting - Tools fixing</li>
			<li>Membership & Asset logging</li>
			<li>Project Storage Label Production</li>
			<li>Provide SpaceAPI endpoint</li>
			<li>Data & Control - MQTT to control things in the space, collect data from such as temp etc.</li>
			<li>Integrate with AccessControl - Octoprint (Manage access rights for all printers from one place)</li>
		</ul>
	</code>
</div>	
{% endblock content %}