{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
	<div class="media">
		<div class="media-body">
			<div class="row">
				<div class="col-sm">
					<h2 class="account-heading">{{ user.username }}</h2>
					<p class="text-secondary">{{ user.first_name }} {{ user.last_name}} </p>
					<p class="text-secondary">User ID: {{ user.id }}</p>
				</div>
				<div class="col-sm">
					<h2 class="account-heading">&nbsp;</h2>
					<p class="text-secondary">Join Date: {{ user.date_joined }}</p>
					<p class="text-secondary">Last Login: {{ user.last_login }}</p>
				</div>
			</div>

		</div>
	</div>
	<form method="POST">	
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Your Details</legend>
			{{ u_form|crispy }}
			{{ p_form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-outline-info" type="submit">Update</button>
		</div>
	</form>
</div>
{% endblock content %}